<div class="flex" style="height: 100vh">
  <div class="col-6 flex flex-column justify-content-center">
    <div class="m-auto">
      <div class="text-center">
        <p-avatar
          image="https://user-images.githubusercontent.com/40702606/210880158-e7d698c2-b19a-4057-b415-09f48a746753.png"
          styleClass="mr-2"
          size="xlarge"
          shape="circle">
        </p-avatar>
        <h1>Register for an account</h1>
      </div>
      <p-message severity="error"
                 styleClass="mb-2"
                 *ngIf="errorMsg"
                 [text]="errorMsg">
      </p-message>
      <div class="field">
        <label for="name">Name</label>
        <input pInputText
               [(ngModel)]="customer.name"
               placeholder="Jane"
               class="w-full"
               type="text"
               name="name"
               id="name">
      </div>
      <div class="field">
        <label for="email">Email</label>
        <input pInputText
               [(ngModel)]="customer.email"
               placeholder="jane@example.com"
               class="w-full"
               type="email"
               name="email"
               id="email">
      </div>

      <div class="field">
        <label for="age">Age</label>
        <input pInputText
               [(ngModel)]="customer.age"
               placeholder="18"
               class="w-full"
               type="number"
               name="age"
               id="age">
      </div>
      <div class="field">
        <label for="password">Password</label>
        <input pInputText
               [(ngModel)]="customer.password"
               placeholder=""
               class="w-full"
               type="password"
               name="password"
               id="password">
      </div>
      <div class="field">
        <label for="gender">Gender</label>
        <select
          [(ngModel)]="customer.gender"
          class="p-dropdown w-full custom-select"
          id="gender">
          <option value="">Select gender</option>
          <option value="MALE">MALE</option>
          <option value="FEMALE">FEMALE</option>
        </select>
      </div>
      <button pButton
              (click)="createAccount()"
              label="Create an account"
              class="w-full"
      >
      </button>
      <button pButton
              routerLink="/login"
              label="Have an account? Login now."
              class="w-full p-button-link text-left p-0 mt-3"
      >
      </button>
    </div>
  </div>
  <div class="col-6 flex flex-column lg:justify-content-center align-content-center right-container">
    <h1 class="text-center">
      <a href="https://amigoscode.com/courses" target="_blank">
        Enroll Now
      </a>
    </h1>
    <img class="background p-6 pt-O"
         src="https://user-images.githubusercontent.com/40702606/215539167-d7006790-b880-4929-83fb-c43fa74f429e.png"
         alt="">
  </div>
</div>
