server:
  port: 8080
  error:
    include-message: always

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    operations-sorter: method
spring:
  datasource:

#    For local database config

#    url: jdbc:postgresql://localhost:5432/customer
#    username: amigoscode
#    password: password

# for docker database config
    url: jdbc:postgresql://localhost:5332/customer
    username: amigoscode
    password: password
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        # deprecated use org.hibernate.dialect.PostgreSQLDialect instead
        dialect: org.hibernate.dialect.PostgreSQL92Dialect
        #dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    show-sql: true
  main:
    web-application-type: servlet
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
  codec:
    max-in-memory-size: 10MB
management:
  endpoints:
    web:
      exposure:
        include: "health,info"

cors:
  allowed-origins: "*"
  allowed-methods: "*"
  allowed-headers: "*"
  exposed-headers: "*"
aws:
  region: eu-west-1
  s3:
   mock: true
   buckets:
     customer: fs-codepro-customer-test
jwt:
  token: foobar_123456789_foobar_123456789_foobar_123456789_foobar_123456789_foobar_123456789_foobar_123456789