#  spring.datasource.hikari.connection-timeout = 20000 #maximum number of milliseconds that a client will wait for a connection
#    spring.datasource.hikari.minimum-idle= 10 #minimum number of idle connections maintained by HikariCP in a connection pool
#    spring.datasource.hikari.maximum-pool-size= 10 #maximum pool size
#    spring.datasource.hikari.idle-timeout=10000 #maximum idle time for connection
#    spring.datasource.hikari.max-lifetime= 1000 # maximum lifetime in milliseconds of a connection in the pool after it is closed.
#    spring.datasource.hikari.auto-commit =true #default auto-commit behavior.


server:
  port: 8080
  error:
    include-message: always
  tomcat:
    threads:
      max: 100

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    operations-sorter: method
spring:
  datasource:
    hikari:
      connection-timeout: 20000
      max-lifetime: 1000
      auto-commit: true
      minimum-idle: 10
      maximum-pool-size: 100
      idle-timeout: 10000

    #    For local database config

#    url: jdbc:postgresql://localhost:5432/customer
#    username: amigoscode
#    password: password

# for docker database config
    url: jdbc:postgresql://localhost:5332/customer
    username: amigoscode
    password: password
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        # deprecated use org.hibernate.dialect.PostgreSQLDialect instead
        dialect: org.hibernate.dialect.PostgreSQL92Dialect
        #dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    show-sql: true
  main:
    web-application-type: servlet
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
  codec:
    max-in-memory-size: 10MB
management:
  endpoints:
    web:
      exposure:
        include: "health,info"

cors:
  allowed-origins: "*"
  allowed-methods: "*"
  allowed-headers: "*"
  exposed-headers: "*"
aws:
  region: eu-west-1
  s3:
   mock: true
   buckets:
     customer: fs-codepro-customer-test
jwt:
  token: foobar_123456789_foobar_123456789_foobar_123456789_foobar_123456789_foobar_123456789_foobar_123456789